.body {
  padding-left: 0;
  padding-right: 0;
  padding: 10px;
  background-color: whitesmoke; }

.badge-success {
  background-color: #5cb85c !important; }

.badge-warning {
  background-color: #f0ad4e !important; }

actions li {
  list-style: none; }

.task, .goal, .subtask {
  text-transform: none;
  border: 0px solid #dddddd;
  border-bottom: 5px solid whitesmoke;
  height: 40px;
  vertical-align: middle; }

.task {
  background-color: #555555;
  color: whitesmoke; }

.subtask {
  background-color: #eeeeee;
  color: #333333; }

.goal {
  background-color: #07abdc;
  color: whitesmoke; }

.actions > span {
  margin-left: 10px;
  cursor: pointer; }

.actions {
  padding-right: 10px;
  padding-left: 10px;
  white-space: nowrap; }

.goal > td:first-child,
.task > td:first-child,
.subtask > td:first-child {
  padding-left: 10px;
  cursor: pointer; }

.description {
  border: 1px solid lightgrey;
  padding: 15px;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px; }

button, .blackbutton, .bluebutton {
  border: 0; }

.blackbutton {
  float: left;
  padding: 15px;
  background-color: #333333;
  color: white;
  text-transform: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px; }

.bluebutton {
  float: left;
  padding: 15px;
  background-color: #07abdc;
  color: white;
  text-transform: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px; }

.blue {
  background-color: #07abdc;
  color: white; }

.black {
  background-color: #555555;
  color: white; }

.ligthgrey {
  background-color: #eeeeee;
  color: #333333; }

.ui-sortable-helper {
  display: table; }

#overlay {
  background-color: whitesmoke;
  opacity: 0.8;
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }

/*# sourceMappingURL=app.css.map */