.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1;
  color: #333;
  white-space: nowrap;
  font-size: 10px; }

/*# sourceMappingURL=app.css.map */