// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$texttransform: none;
$main_bg_color: whitesmoke;

$goal_bg_color: #07abdc;
$goal_text_color: whitesmoke;

$bggrey: #333333;

$task_bg_color: #555555;
$task_text_color: whitesmoke;

$subtask_bg_color: #eeeeee;
$subtask_text_color: #333333;

.body {
    padding-left:     0;
    padding-right:    0;
    padding:          10px;
    background-color: $main_bg_color;
}

.badge-success {
    background-color: #5cb85c !important;
}

.badge-warning {
    background-color: #f0ad4e !important;
}

actions li {
    list-style: none;
}

.task, .goal, .subtask {
    text-transform: $texttransform;
    border:         0px solid #dddddd;
    border-bottom:  5px solid $main_bg_color;
    height:         40px;
    vertical-align: middle;
}

.task {
    background-color: $task_bg_color;
    color:            $task_text_color;
}

.subtask {
    background-color: $subtask_bg_color;
    color:            $subtask_text_color;
}

.goal {
    background-color: $goal_bg_color;
    color:            $goal_text_color;
}

.actions > span {
    margin-left: 10px;
    cursor:      pointer;
}

.actions {
    padding-right: 10px;
    padding-left:  10px;
    white-space:   nowrap;
}

.goal > td:first-child,
.task > td:first-child,
.subtask > td:first-child {
    padding-left: 10px;
    cursor:       pointer;
}

.description {
    border:        1px solid lightgrey;
    padding:       15px;
    float:         left;
    margin-bottom: 10px;
    margin-right:  10px;
}

button, .blackbutton, .bluebutton {
    border: 0;
}

.blackbutton {
    float:            left;
    padding:          15px;
    background-color: $bggrey;
    color:            white;
    text-transform:   $texttransform;
    cursor:           pointer;
    margin-bottom:    10px;
    margin-right:     10px;
}

.bluebutton {
    float:            left;
    padding:          15px;
    background-color: $goal_bg_color;
    color:            white;
    text-transform:   $texttransform;
    cursor:           pointer;
    margin-bottom:    10px;
    margin-right:     10px;
}

.blue {
    background-color: $goal_bg_color;
    color:            white;
}

.black {
    background-color: $task_bg_color;
    color:            white;
}

.ligthgrey {
    background-color: $subtask_bg_color;
    color:            $subtask_text_color;
}

.ui-sortable-helper {
    display: table;
}

#overlay {
    background-color: $main_bg_color;
    opacity:          0.8;
    display:          none;
    height:           100%;
    width:            100%;
    position:         absolute;
    top:              0;
    left:             0;
    z-index:          100;
}